*{
    margin:0;
    padding:0;
    list-style: none;
    font-size:12px;
}
.tab{
    width:298px;
    height:98px;
    margin:10px;
    border:1px solid red;
    overflow: hidden;
}
.tab-title{
    height:27px;
    position:relative;
    background:yellow;
}
.tab-title ul{
    positon:absolute;
    width:301px;
    left:-1px;
}
.tab-title li{
    float: left;
    width:58px;
    height:26px;
    line-height:26px;
    text-align: center;
    padding:0 1px;
    border-bottom:1px solid grey;
}
.tab li a:link, .tab-title li a:visited{
    text-decoration: none;
    color:#000;
}
.tab li a:hover{
    color:#f90;
    font-weight:900;
}
.tab-title .select{
    background: #fff;
    border-bottom-color: #fff;
    border-left:1px solid grey;
    border-right:1px solid grey;
    padding:0;
}
.tab .tab-content .tabct{
    margin:10px 10px 10px 19px;
}
.tab .tab-content .tabct ul li{
    float:left;
    width:134px;
    height:25px;
}