*{
    margin:0px;
    padding:0px;
}
body{
    background-color: #eeeeee;
}
.container{
    width:900px;
    height:450px;
    margin:60px auto;
    position: relative;
}
.pic{
    width:160px;
}
.container img{
    padding:10px 10px 10px 15px;
    background-color: white;
    border:1px solid #ddd;
    box-shadow: 2px 2px 3px rgba(50,50,50,0.4);
    z-index:1;
    position: absolute;
    -webkit-transition: all 0.5s ease-in;
    -moz-transition: all 0.5s ease-in;
    -ms-transition: all 0.5s ease-in;
    -o-transition: all 0.5s ease-in;
    transition: all 0.5s ease-in;
}
.container img:hover{
    z-index:2;
    box-shadow:15px 15px 20px rgba(50, 50, 50,0.4);
    transform: rotate(0deg) scale(1.2);
    -webkit-transform: rotate(0deg) scale(1.2);
}
.pic1{
    left:400px;
    top:0px;
    transform: rotate(-5deg);
    -webkit-transform: rotate(-5deg);
}
.pic2{
    left:200px;
    top:0px;
    transform: rotate(-20deg);
    -webkit-transform: rotate(-20deg);
}
.pic3{
    right:100px;
    bottom:100px;
    transform: rotate(5deg);
    -webkit-transform: rotate(5deg);
}
.pic4{
    top:150px;
    left:300px;
    transform: rotate(-10deg);
    -webkit-transform: rotate(-10deg);
}
.pic5{
    bottom:0px;
    top:0px;
    transform: rotate(-10deg);
    -webkit-transform: rotate(-10deg);
}
.pic6{
    left:0px;
    top:0px;
    transform: rotate(10deg);
    -webkit-transform: rotate(10deg);
}
.pic7{
    left:850px;
    top:0px;
    transform: rotate(20deg);
    -webkit-transform: rotate(20deg);
}
.pic8{
    left:850px;
    top:250px;
    transform: rotate(5deg);
    -webkit-transform: rotate(5deg);
}
.pic9{
    left:550px;
    top:90px;
    transform: rotate(15deg);
    -webkit-transform: rotate(15deg);
}