*{
    margin:0px;
    padding:0px;
    font-size: 14px;
    line-height:1.8em;
    font-family:"Microsoft YaHei";
}
.container{
    width:500px;
    margin:30px auto;
    padding:20px 30px;
    position: relative;
    background-color: #ffffff;
    border-radius:10px;
    box-shadow: 0px 0px 0px 10px rgba(0,0,0,0.2);
}
.container h3{
    font-size:20px;
    color:#0099ff;
}
.container .tooltip{
    color: #0099ff;
    cursor: pointer;
}
.tooltip-box{
    display:block;
    background:#ffffff;
    line-height:1.6;
    border:1px solid #66ccff;
    color:#333;
    padding:20px;
    font-size:12px;
    border-radius:5px;
    overflow: auto;
}