<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="../css/myTab.css" rel="stylesheet" type="text/css">
    <script src="../js/myTab.js"></script>
</head>
<body>
    <div class="tab" id="tab">
        <div class="tab-title" id="tab-title">
            <ul>
                <li class="select"><a href="#">公告</a></li>
                <li><a href="#">规则</a></li>
                <li><a href="#">论坛</a></li>
                <li><a href="#">安全</a></li>
                <li><a href="#">公益</a></li>
            </ul>
        </div>
        <div class="tab-content" id="tab-content">
            <div class="tabct" style="display: block;">
                <ul>
                    <li><a href="#">八千家4s店参与双11</a> </li>
                    <li><a href="#">八千家4s店参与双11</a> </li>
                    <li><a href="#">八千家4s店参与双11</a> </li>
                    <li><a href="#">八千家4s店参与双11</a> </li>
                </ul>
            </div>
            <div class="tabct" style="display: none;">
                <ul>
                    <li><a href="#">八千家4s店</a> </li>
                    <li><a href="#">八千家4s店参与双11</a> </li>
                    <li><a href="#">八千家4s店参与双11</a> </li>
                    <li><a href="#">八千家4s店参与双11</a> </li>
                </ul>
            </div>
            <div class="tabct" style="display: none;">
                <ul>
                    <li><a href="#">参与双11</a> </li>
                    <li><a href="#">八千家4s店参与双11</a> </li>
                    <li><a href="#">八千家4s店参与双11</a> </li>
                    <li><a href="#">八千家4s店参与双11</a> </li>
                </ul>
            </div>
            <div class="tabct" style="display: none;">
                <ul>
                    <li><a href="#">八千家4s店参与双11</a> </li>
                    <li><a href="#">八千家4s店参与双11</a> </li>
                    <li><a href="#">八千家4s店参与双11</a> </li>
                    <li><a href="#">八千家4s店参与双11</a> </li>
                </ul>
            </div>
            <div class="tabct" style="display: none;">
                <ul>
                    <li><a href="#">八千家4s店参与双11</a> </li>
                    <li><a href="#">八千家4s店参与双11</a> </li>
                    <li><a href="#">八千家4s店参与双11</a> </li>
                    <li><a href="#">八千家4s店参与双11</a> </li>
                </ul>
            </div>

        </div>
    </div>
</body>
</html>