<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="../css/pic.css" rel="stylesheet" type="text/css">
</head>
<body>
<div class="container">
    <img class="pic pic1" src="../images/img1.jpg"/>
    <img class="pic pic2" src="../images/img2.jpg"/>
    <img class="pic pic3" src="../images/img3.jpg"/>
    <img class="pic pic4" src="../images/img4.jpg"/>
    <img class="pic pic5" src="../images/img5.jpg"/>
    <img class="pic pic6" src="../images/img6.jpg"/>
    <img class="pic pic7" src="../images/img7.jpg"/>
    <img class="pic pic8" src="../images/img1.jpg"/>
    <img class="pic pic9" src="../images/img2.jpg"/>
</div>
</body>
</html>