<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="../css/route.css" rel="stylesheet" type="text/css">
    <script src="../js/jquery.min.js"></script>
    <script src="../js/TweenMax.min.js"></script>
    <script src="../js/route.js"></script>

</head>
<body>
    <div class="coursecontent w-1000" >
        <div class="lessonlist">
            <div class="learn-lessonlist cf">
                <span class="stageicon"></span>
                <div class="stagewaring-box">
                    <span class="jiantou-right"></span>
                    <div class="textcontent">
                        <h3>第一阶段，</h3>
                        <p>环境搭建</p>
                    </div>
                </div>
                <div class="lessonimgbox">
                    <a href="#">
                        <div class="img-box">
                            <img src="../images/img1.jpg">
                        </div>
                        <h3>环境搭建</h3>
                        <div class="imgboxfoot">
                            <span class="minandtime">30min 10课时</span>
                        </div>
                        <div class="img-pop">
                            <blockquote>
                                <p>java语言－面向对象的思想java语言－面向对象的思想java语言－面向对象的思想java语言－面向对象的思想java语言－面向对象的思想</p>
                            </blockquote>
                            <div class="time-user-number">
                                <span>2014-10-10</span><span>2000人在学习</span>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</body>
</html>