<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="../css/toolTip.css" type="text/css">

</head>
<body>
    <div class="container" id="container">
        <h3>极客学院招募</h3>
        <p>Internet Explorer 10、Firefox、Opera 和 Chrome 支持 transition 属性。
            <br/>
            <a class="tooltip" id="weibo">微博</a>
            <a class="tooltip" id="weixin">微信</a>
            Safari 支持替代的 -webkit-transition 属性。
            注释：Internet Explorer 9 以及更早版本的浏览器不支持 transition 属性。</p>
        <p>你还不知道<a class="tooltip" id="logo">极客学院</a> 吧</p>
        <p>那我们一起加入<a class="tooltip" id="jikexueyuan">极客学院</a>吧</p>
    </div>
    <script src="../js/toolTip.js"></script>
</body>
</html>